<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
<h3>회원가입</h3>
	
	<form action="join_2.jsp" method="post">
		<p>
			아이디: <input type="text" name="id">
			<input type="submit" value="중복확인">
			<span>&nbsp;</span>
		</p>
		<p>
			비밀번호: <input type="password" name="pw">
		</p>
		<p>
			이름: <input type="text" name="name">
		</p>
		<p>
			연락처: <select name="phone1">
				<option value="010">010</option>
				<option value="011">011</option>
				<option value="016">016</option>
				<option value="017">017</option>
				<option value="019">019</option>
			</select>
			<input type="text" name="phone2" size="4" maxlength="4">-
			<input type="text" name="phone3" size="4" maxlength="4">
	
		</p>
		<p>
			성별: <input type="radio" name="gender" value="남성">남성 <input
				type="radio" name="gender" value="여성">여성
		</p>
		<p>
			취미: 독서<input type="checkbox" name="hobby" value="독서" checked>
			운동<input type="checkbox" name="hobby" value="운동">
			 영화<input	type="checkbox" name="hobby" value="영화">
		</p>
		<textarea name="comments" cols="30" rows="3" placeholder="가입인사">
	</textarea><br><br>
		<input type="button" value="가입하기"> <input type="reset"
			value="다시쓰기">
	</form>

</body>
</html>